.root {
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 3px 8px;
  height: 30px;
  line-height: 22px;
  box-sizing: border-box;
  background: none transparent;
  border: 1px solid #ccc;
  border-radius: 0;
  color: #333;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  white-space: nowrap;
}

.root:disabled {
  cursor: not-allowed;
  background: none transparent;
  color: #ddd;
  border-color: #e6e8eb;
}

.root:disabled > * {
  opacity: .5;
}
