.root {
}

.editor {
  cursor: text;
  font-size: 16px;
}

.editor :global(.public-DraftEditorPlaceholder-root),
.editor :global(.public-DraftEditor-content) {
  margin: 0;
  /* 1px is added as transparent border on .DraftEditor-editorContainer */
  padding: 9px;
}

.editor :global(.public-DraftEditor-content) {
  overflow: auto;
}

.hidePlaceholder :global(.public-DraftEditorPlaceholder-root) {
  display: none;
}

.editor .paragraph {
}

/* Consecutive code blocks are nested inside a single parent <pre> (like <li>
  inside <ul>). Unstyle the parent and style the children. */
.editor pre {
}

.editor .codeBlock {
}

/* Hacky: Remove padding from inline <code> within code block. */
.editor .codeBlock span[style] {
}

.editor .blockquote {
}

/* There shouldn't be margin outside the first/last blocks */
.editor .block:first-child,
.editor pre:first-child,
.editor ul:first-child,
.editor ol:first-child {
  margin-top: 0;
}
.editor .block:last-child,
.editor pre:last-child,
.editor ul:last-child,
.editor ol:last-child {
  margin-bottom: 0;
}
